Source: wasta-wine
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-wine

Package: wasta-wine
Architecture: all
Depends: libc6, ${shlibs:Depends}, ${misc:Depends}
Description: Wasta packaging of Wine for app compatibility
 Patched version of wine 4.18 for Logos compatibility.
